<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.legislation") %> - <%= @process.title %> - <%= t("admin.legislation.reviews.show.title") %>
<% end %>

<div class="legislation-draft-versions-index">

  <%= back_link_to admin_legislation_process_reviews_path(@process), t("shared.back") %>

  <h2><%= @process.title %></h2>

  <%= render "admin/legislation/processes/subnav",
    process: @process, active: "reviews"
  %>

  <%= render "section_classifications" %>

  <% if @section_classifications&.any? %>
    <div class="review-panels reviews-preview">
      <%= render "sections" %>
    </div>
  <% end %>
</div>
